# Virtual Environment
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# Environment Variables
.env